@import "../styles/breakpoints";

.main-content {
    width: 100%;
    padding: 30px;
    height: calc(100vh - 64px);

    @include breakpoint-down(lg) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 25px;
    }
    @include breakpoint-down(md) {
        padding: 20px;
    }
    @include breakpoint-down(sm) {
        padding: 15px;
    }
}
