.layout {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;

    &__row {
        display: flex;
        height: 100%;
    }

    .fab {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(-50%, -50%);
        font-size: 30px;
        font-weight: 100;
    };
}